.about {
  margin: 80px auto;
  /* padding-top: 30px; */
}
.abt-img {
  position: relative;
  width: 100%;
  height: 200px;
}
.abt-img img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.abt-img h4 {
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 80px;
  left: 40%;
  z-index: 3;
}

.about-desc {
  max-width: 1440px;
  padding-inline: 40px !important;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 40px; */
}
.div1 {
  margin: 30px 0;
  flex-basis: 70%;
  /* padding: 0 3%; */
  line-height: 28px;
  letter-spacing: 0.3px;
  font-size: 17px;
}
.p {
  font-size: 17px;
  margin: 15px 0;
}
.div {
  flex-basis: 25%;
  margin-top: -50px;
}
.about-desc2 {
  text-align: center;
  margin: 30px auto;
  max-width: 1400px;
  /* padding-inline: 40px; */
}
.about-desc2 h3 {
  margin-bottom: 20px;
}

.abt-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.abt-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  max-width: 400px;
  gap: 10px;
  font-weight: 500;
}
.abt-items i {
  font-size: 20px;
  color: gold;
}

@media (max-width: 768px) {
  .about {
    padding-top: 30px;
  }
  .about-desc2 {
    overflow-x: scroll;
  }
  .div {
    display: none;
  }
  .div1 {
    flex-basis: 90%;
  }
}
