.cart-modal {
  padding: 30px 5% 0 5%;
  position: relative;
  margin: 50px auto;
  width: fit-content;

  background-color: #fcfdfe;
  border-radius: 4px;
  color: black;
}
.cart-modal h1 {
  margin-bottom: 10px;
  font-size: 25px;
  color: rgb(22, 174, 159);
}
.cart-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-desc p {
  font-size: 14px;
}
.empty {
  padding: 0 5%;
  margin: 80px auto;
  text-align: center;
  color: rgb(72, 66, 66);
}
.empty h3 {
  margin: 10px 0 20px;
}
.cart-modal h2 {
  font-size: 19px;
  margin: 20px 0;
}
.cart-modal-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart-img {
  width: 200px;
  height: 100%;
}
.cart-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.info-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.sub-info {
  display: flex;
  gap: 20px;
  margin: 7px 0;
}
.sub-info i {
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.subtotal {
  display: flex;
  gap: 120px;
  margin: 10px 0;
}
.cart-modal button {
  border: 0;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.info h3 {
  margin-bottom: 5px;
}
.info span {
  font-size: 14px;
}

.checkout-btn {
  background: rgb(22, 174, 159);
  color: white;
}
.clear-cart {
  color: red;
  font-size: 16px;
  transition: all 0.5s;
  margin-right: 20px;
}
.clear-cart:hover {
  background: #d7dae0;
}
@media (max-width: 768px) {
  .cart-modal {
    padding: 30px 5% 0 5%;
  }
}
