.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: -200%;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
}
.userProfile.open-profile-modal {
  right: 0;
  transition: right 0.4s ease-in-out;
}
.profile-header {
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.2);
}

.taps {
  padding: 10px;
  cursor: pointer;
}

.taps.active-tap {
  border-bottom: var(--border-bottom-tap);
}
.profile-wrapper {
  padding-top: 30px;
  height: 100vh;
  width: 65%;
  background: #fff;
}
.summary-container {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.transaction,
.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

.transaction {
  text-align: center;
}
.logout-icon {
  /* padding-top: 4px; */
  font-size: 25px;
}
.logout {
  font-size: 18px;
  font-weight: 600;
  color: #00c1ae;
  cursor: pointer;
  padding-left: 50px;
  display: flex;

  gap: 5px;
}
.close-icon {
  background: rgba(0, 0, 0, 0.09);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #00c1ae;
  margin: 0px 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .profile-wrapper {
    width: 90%;
  }
  .profile p {
    text-wrap: wrap !important;
    display: flex;
    flex-wrap: wrap;
  }

  .profile-header {
    overflow-x: scroll;
  }
}
