.service-container {
  background-color: #00c1ae;
  padding: 100px 5%;
  position: relative;
}

.serv-first-item-cont {
  display: flex;
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px 0 40px 40px;
  max-width: 500px;
  width: 100%;
  border: 1px solid#1aa698;
  font-weight: 500;
}
.learnMore {
  display: block;
  border: 1px solid #1aa698;
  padding: 5px;
  margin-top: 20px;
  width: 110px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
.serv-desc1 {
  line-height: 27px;
}
.serv-img-cont {
  height: 100%;
}
.serv-img-cont img,
.serv-img-cont2 img {
  border-radius: 10px;
}
.service-container h2 {
  text-align: center;
  padding: 50px 0 30px;
}
.serv-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.serv-second-item-cont,
.serv-third-item-cont {
  flex-basis: 45%;
}

.serv-img-cont2 {
  height: 100%;
  position: relative;
}

.serv-desc2,
.serv-desc3 {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 20px 2px 20px 2px;
  font-weight: 500;
  line-height: 27px;
}
.serv-desc2 {
  bottom: -50px;
  left: 20%;
  z-index: 2;
}
.serv-desc3 {
  right: 30px;
  bottom: -30px;
}

@media (max-width: 768px) {
  .serv-second-item-cont,
  .serv-third-item-cont {
    flex-basis: 100%;
    margin: 0 auto;
  }
  .serv-second-item-cont {
    margin-bottom: 50px;
  }
  .serv-desc2 {
    left: 2%;
  }
}
