.slider {
  overflow: hidden;
  margin-top: 70px;
}

.hero-slide {
  height: calc(100vh - 100px);
  max-width: 100vw;
}

.slider__item-01 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("/public/slider/bmw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item-02 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("/public/slider/nissan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item-03 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("/public/slider/mercedes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item-04 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("/public/slider/toyota.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  z-index: 2;
}
