.slider-wrapper {
  margin-top: 50px;
  margin-bottom: -40px;
}
.slider {
  overflow: hidden;
}

.hero-slide {
  height: calc(100vh - 60px);
  max-width: 100vw;
  position: relative;
}

.hero {
  padding-top: 200px;
  width: 100%;
  height: 300px;
}
.slider__item-01 {
  background: linear-gradient(rgb(0, 193, 174, 0.3), rgb(0, 193, 174, 0.3)),
    url("/public/slider/bmw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider__item-02 {
  background: linear-gradient(rgb(0, 193, 174, 0.3), rgba(0, 193, 174, 0.3)),
    url("/public/slider/nissan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider__item-04 {
  background: linear-gradient(rgba(0, 193, 174, 0.3), rgb(0, 193, 174, 0.3)),
    url("/public/slider/toyota.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-content {
  position: absolute;
  bottom: 20px;
  z-index: 2;
}
