.cards {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.btn-container {
  display: flex;
  align-items: center;
  display: none;
  gap: 20px;
  margin-top: 20px;
}
#btn {
  width: 18%;
}
.sub-details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.condition {
  text-transform: capitalize;
  margin: 5px 0;
}
.card-link {
  border: 1px solid rgb(231, 223, 223);
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.4s ease-in-out;
}
.card-link:hover {
  transform: scale(1.02);
}
.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: fit-content;
  display: block;
}

.links {
  text-decoration: none;
  color: rgb(81, 77, 77);
}
.details {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}
.title {
  font-size: 16px;
  font-weight: 700;
}

.price {
  color: #00c1ae;
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 768px) {
  #btn {
    width: 20%;
  }
}
