.rev-wrapper {
  background-color: #00c1ae;
  margin: 100px auto;
}
.location {
  font-weight: 500;
}
.review {
  width: 90%;
  overflow: hidden;
  background: white;
  margin: 0 auto;
  border-radius: 50px 50px 0 0;
}
.review h2 {
  margin: 5px 0 30px;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}
.slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: all 1s ease;
}

.rev-icons i {
  font-size: 20px;
  color: gold;
}
.review-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.rev-item {
  padding: 10px 50px 10px 50px;
}
.slide-icons {
  position: absolute;
  bottom: -40px;
  width: 110px;
  left: 44%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-weight: 600;
  font-size: 16px;
}
.slide-icons i {
  padding: 3px;
  background: rgb(170, 186, 186);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: all 2s ease;
}
.slide-icons i:hover {
  background: rgb(221, 231, 231);
}
.slider-img-container {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  align-items: baseline !important;
}
.slider-img-container p {
  line-height: 27px;
}
.slide-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline: 20px;
  width: 100px;
}
.slide {
  display: flex;
}
.slide-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .correspondence .h2 {
    margin-left: 0px;
  }
  .slide-item {
    padding: 0 70px;
    margin: 10px auto;
  }
}
