.items {
  position: relative;
  width: 250px;
  max-height: 300px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  display: flex;
}

.img-container {
  width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.img-container img {
  object-fit: cover;
  width: 100%;
  height: fit-content;
  display: block;
}

.links {
  text-decoration: none;
  color: rgb(81, 77, 77);
}
.details {
  margin: 10px 5px;
}
.price {
  margin-top: 7px;
  font-weight: 600;
  font-size: 18px;
}
