.product {
  display: flex;
  margin: 80px 0 50px;
  gap: 20px;
  padding: 3%;
}

.product-left {
  flex-basis: 60%;
}
.product-left h2,
.product-right h2 {
  color: rgb(111, 108, 108);
  font-size: 22px;
  text-wrap: nowrap;
  text-transform: capitalize;
}

.img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-center {
  max-height: 900px;
  overflow: hidden;
  border-radius: 3px;
}

.product-right {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.cart-price {
  color: rgb(111, 108, 108);
  font-weight: 500;
  font-size: 18px;
}
.amt-container {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 20px;
}
.desc-2 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(111, 108, 108);
}
.desc-2 h4 {
  margin-bottom: 5px;
  font-weight: 400;
}

.cart-btn {
  border: 0;
  cursor: pointer;
  padding: 5px 9px;
  border-radius: 4px;
  background: #2879fe;
  transition: all 0.5s;
}
.cart-btn i {
  color: whitesmoke;
}
.cart-btn:hover {
  background-color: #6c9ce9;
  outline: 2px solid #2879fe;
}
.add-to-cart {
  width: 200px;
  height: 30px;
  background-color: #2879fe;
  margin-top: 4px;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.add-to-cart:hover {
  background-color: #6c9ce9;
  outline: 2px solid #2879fe;
}
.add-to-cart i {
  margin-right: 15px;
  font-size: 20px;
}
.wishlist {
  font-size: 13px;
  color: #2879fe;
  cursor: pointer;
  padding: 5px;
}
@media (max-width: 768px) {
  .img {
    margin-top: 5px;
  }
  .product {
    flex-wrap: wrap;
  }
  .product-left {
    flex-basis: 100%;
  }
  .product-left h2 {
    padding: 5px 0px;
    text-wrap: wrap;
  }
  .product-right {
    flex-basis: 100%;
    margin-top: 2px;
  }
}
