.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-wrapper {
  position: fixed;
  padding: 15px 40px;
  height: 70px !important;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  border-bottom: var(--border-bottom);
  text-decoration: none;
  max-width: fit-content;
  color: #00c1ae;
}

.logo {
  color: #00c1ae;
  font-size: 30px;
  font-weight: 600;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.avatar-container {
  display: flex;
  align-items: center;
  gap: 3px;
}
.auth {
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
}

.auth:hover {
  text-decoration: underline;
}

.register {
  background-color: rgb(255, 83, 42);
  color: #fff;
  border-radius: 25px;
}

.cart {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
}

.cart-amount {
  position: absolute;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  top: -26px;
  left: 0;
  bottom: 0;
  right: -13px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #00c1ae;
}

.pages span {
  margin-right: 10px;
  font-size: 18px;
}
.ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.ul li {
  color: rgb(89, 87, 87);
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
  display: inline-block;
}
.menu-button {
  display: none;
}
.mobile-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  transition: left 0.4s ease-in-out;
  box-shadow: 0 0 3px #bacbe6;
}
.mobile-ul {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px 0px 0px 20px;
}

@media (max-width: 768px) {
  .nav-wrapper {
    padding-inline: 15px;
  }
  .top-left-nav {
    display: none;
  }

  .mobile-nav.close-menu {
    left: 0;
    transition: left 0.4s ease-in-out;
  }

  .mobile-ul li {
    margin: 15px;
    max-width: fit-content;
  }
  .menu-button {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(89, 87, 87);
    margin-right: 10px;
    cursor: pointer;
  }

  .logo {
    font-size: 18px;
  }
}
