.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}
.logo {
  color: #2879fe;
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
}
.navbar {
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
}

.user {
  margin: 5px;
  font-size: 18px;
  text-wrap: nowrap;
  cursor: pointer;
}

.cart {
  font-size: 22px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
.cart-amount {
  position: absolute;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  top: -22px;
  left: 0;
  bottom: 0;
  right: -13px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #2879fe;
}
.row1 h2,
.row2 h2 {
  color: #2879fe;
}

.pages span {
  margin-right: 10px;
  font-size: 18px;
}

.link-nav {
  color: black;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
