.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  /* background-color: rgb(25, 25, 62); */
  background-color: white;
  box-shadow: 0px 1px 0 rgba(186, 182, 182, 0.4);
}
.active {
  text-decoration: none;
  padding: 4px 10px;
  /* background: linear-gradient(90deg, rgb(185, 101, 101), blue); */
  border-radius: 20px;
  color: rgb(59, 56, 56);
  text-decoration: underline;
}
.logo {
  color: #00c1ae;
  font-size: 30px;
  font-weight: 600;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
ul li {
  color: rgb(59, 56, 56);
}
.right-nav {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.user {
  font-size: 18px;
  text-wrap: nowrap;
  cursor: pointer;
  color: white;
  background: linear-gradient(100deg, rgb(69, 220, 205), rgb(22, 174, 159));
  padding: 5px 10px;
  border-radius: 20px;
}

.cart {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  color: rgb(89, 87, 87);
}
.cart-amount {
  position: absolute;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  top: -26px;
  left: 0;
  bottom: 0;
  right: -13px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #00c1ae;
}

.pages span {
  margin-right: 10px;
  font-size: 18px;
}
ul {
  list-style: none;
}
ul li {
  color: rgb(89, 87, 87);
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
  display: inline-block;
}
.menu-container,
.nav {
  display: none;
}
@media (max-width: 768px) {
  .top-left-nav {
    display: none;
  }

  .user {
    display: none;
  }
  .cart {
    margin-right: -20px;
  }
  .user2 {
    display: block;
    margin-top: 30px;
  }
  .nav {
    position: relative;
    display: block;
  }
  .nav.close-menu {
    display: none;
  }

  ul {
    position: absolute;
    background-color: #fff;
    top: 9px;
    left: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-block: 20px;
    box-shadow: 0 0 3px #bacbe6;
  }

  ul li {
    display: block;
  }
  .menu-container {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(89, 87, 87);
    margin-right: 10px;
  }
  .nav-container {
    padding-left: 10%;
  }
}
