.footer {
  padding: 25px 0 25px 0;
  background-color: #00c1ae;
  color: black;
}

.footer-top-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  margin-bottom: 15px;
}
.h2,
.link3 {
  color: black;
  font-size: 15px;
}
.logo {
  width: 70px;
  height: 20px;
}
h2,
.link3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 3px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.foot-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
hr {
  border: 1px solid rgb(148, 147, 147);
  display: block;
  margin: 0 auto;
  width: 100%;
}

.row1 i {
  font-size: 20px;
  margin-right: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.copy {
  display: flex;
  justify-content: space-evenly;

  font-size: 15px;
  font-weight: 500;
  margin-top: 4px;
}
.copy div {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 20px;
  }
  .copy {
    text-align: center;
    display: block;
  }
}
