.footer {
  padding: 40px 0 25px 0;
  background-color: white;
  color: rgb(111, 108, 108);
}

.footer-top-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

h2 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 3px;
}
.foot-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
hr {
  border: 1px solid grey;
  display: block;
  margin: 0 auto;
  width: 95%;
}

.row1 i {
  font-size: 20px;
  margin-right: 8px;
}
.copy {
  display: flex;
  justify-content: space-evenly;

  font-size: 15px;
  font-weight: 600;
  margin-top: 6px;
}
.copy div {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 0;
  }
  .copy {
    text-align: center;
    display: block;
  }
}
