.login-container {
  max-width: 1300px;
  padding: 80px 10%;
  margin-inline: auto;
}
.form-design {
  background: url(/public/images/baby-toys.jpg), rgb(136, 234, 234);
  flex-basis: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee-container {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  color: #0ae6d0;
  text-shadow: 0px 2px 1px red;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.h2 {
  font-size: 30px;
  color: rgb(0, 193, 174);
  text-align: center;
  margin-bottom: 20px;
}
.form-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.form-container {
  flex-basis: 50%;
  border-radius: 10px !important;
  position: relative;
}
.prov-password {
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.form {
  display: flex;
  flex-direction: column;

  background-color: #f3f5f5;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h4 {
  margin: 10px 0;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.registered {
  margin-top: 20px;
  display: flex;

  gap: 20px;
  font-weight: 600;
  font-size: 14px;
}
.server-error {
  margin: 10px auto;
  color: rgb(255, 77, 0);
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
}
.sign-in {
  color: rgb(11, 143, 130);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1.5px solid #cbd1da;
  overflow: hidden;
}
.checkmark {
  background: rgb(0, 193, 174);
  height: 19px;
  width: 19px;
  color: #fff;
  padding: 2px;
}
.input-check {
  display: none;
}

.checkbox-wrapper,
.checkbox-label {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  text-wrap: nowrap;
}
@media (max-width: 768px) {
  .login-container {
    width: 100%;
    padding-inline: 0px;
  }
  .form-design {
    display: none;
  }

  .form-container {
    flex-basis: 100%;
  }
  .item input {
    width: 100%;
  }

  .form-wrapper {
    padding: 30px 0px 0px 0px;
  }
}
