.products-wrapper {
  margin: 80px 0 100px 0;
}
.make-container {
  padding: 30px 0px;
}
.products {
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: space-between; */
  margin: 30px 0 80px;
  padding: 0 4%;
}

.prod-right h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}
/* .prod-right {
  /* flex-basis: 84%; */
/* justify-items: right;
}  */
@media (max-width: 768px) {
  .prod-right h3 {
    font-size: 25px;
  }
}
