@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}
.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(59, 56, 56);

  cursor: pointer;
}
.link2 {
  color: #00c1ae;
  font-weight: 500;
}
/* style rules for make */
.make {
  padding: 0 10% 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.make-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  padding: 4px;
}

@media (max-width: 768px) {
  .make-wrapper {
    width: 40px;
    height: 40px;
  }
  .make {
    overflow-x: scroll;
  }
}
.make-wrapper p {
  margin-top: 5px;
  text-transform: uppercase;
}
.make-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #14b5a5;
}
