@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}
.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(59, 56, 56);

  cursor: pointer;
}
.link2 {
  color: #00c1ae;
  font-weight: 500;
}
@media (max-width: 768px) {
  h2 {
    font-size: 13px;
  }
}
